* {
	margin: 0px;
	padding: 0px;
}

body {
	/*background: #DA5DA2;
    background: -webkit-linear-gradient(top left, #DA5DA2, #228CEC);
    background: -moz-linear-gradient(top left, #DA5DA2, #228CEC);
    background: linear-gradient(to bottom right, #DA5DA2, #228CEC);
    background-size: cover;
	background-image: url('../sources/background.jpg');*/
	cursor: default;
	margin-bottom: 5%;
	background: linear-gradient(318deg, #ff0062, #ffff00, #00ff00, #00ffff, #0000ff);
background-size: 1000% 1000%;
  
-webkit-animation: Coolgradient 20s linear infinite;
-moz-animation: Coolgradient 20s linear infinite;
-o-animation: Coolgradient 20s linear infinite;
animation: Coolgradient 20s linear infinite;
}

@-webkit-keyframes Coolgradient {
    0%{background-position:5% 0%}
    50%{background-position:96% 100%}
    100%{background-position:5% 0%}
}
@-moz-keyframes Coolgradient {
    0%{background-position:5% 0%}
    50%{background-position:96% 100%}
    100%{background-position:5% 0%}
}
@-o-keyframes Coolgradient {
    0%{background-position:5% 0%}
    50%{background-position:96% 100%}
    100%{background-position:5% 0%}
}
@keyframes Coolgradient { 
    0%{background-position:5% 0%}
    50%{background-position:96% 100%}
    100%{background-position:5% 0%}
}

.hidden {
	overflow: hidden;
}

.loader_container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.lds-ripple,
.lds-ripple div {
  box-sizing: border-box;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid currentColor;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    opacity: 0;
  }
}

.header_container {
	align-items: center;
	font-family: 'Kanit', sans-serif;
	display: flex;
	position: fixed;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;
	padding: 5px;
	background: rgba(0, 0, 0, 0.5);
}

.logo-header_container {
	display: flex;
	margin-left: 10px;
	padding: 5px;
	align-items: center;
}

.logo-header_container h1 {
	font-size: 200%;
	color: #fff;
}

.logo-header_container img {
	height: 45px;
	margin-right: 10px;
}

.navigation-header_container {
	display: flex;
	margin-right: 4%;
}

.navigation-header_container ul li {
    display: inline-block;
    list-style: none;
}

.navigation-header_container a {
    font-size: 110%;
	text-decoration: none;
	color: #fff;
	padding: 0px 20px;
	font-weight: 600;
	transition: all ease 500ms;	
	cursor: default;
}

.navigation-header_container a:hover {
	color: #008f39;
	transition: all ease 500ms;

}

main h2 {
	font-family: 'Roboto Mono', monospace;
	font-size: 190%;
	text-align: center;
	font-weight: 600;
	margin-top: 120px;
	background: linear-gradient(orange,red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;  
    padding: 10px 20px;
    letter-spacing: 2px;
}


.games_container {
	margin-top: 50px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	grid-auto-flow: dense;
}

article {
	padding: 15px 0px;
	margin-right: auto;
	margin-left: auto;
	transition: all ease 400ms;
}

article a {
	text-decoration: none;
	cursor: default;

}

.game h1:hover {
	color: #008f39;
	transition: all ease 400ms;
}

.game {
	transition: all ease 2s;
    background: -webkit-linear-gradient(top right, rgba(234, 255, 1, 1.0), rgba(255, 109, 1, 1.0));
    background: -moz-linear-gradient(top right, rgba(234, 255, 1, 1.0), rgba(255, 109, 1, 1.0));
    background: linear-gradient(to bottom left, rgba(234, 255, 1, 1.0), rgba(255, 109, 1, 1.0));
	padding: 15px 30px;
	border-radius: 5px;
}

.game:hover {
	transition: all ease 1s;
	transform: translateY(-10px);
	box-shadow: 4px 4px 4px 4px rgba(255, 255, 255, 0.3);
}

.game img {
	height: 100px;
	border-radius: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.game h1 {
	font-family: 'Kanit', sans-serif;
	font-size: 200%;
	font-weight: 600;
	color: #fff;
	text-align: center;
	transition: all ease 400ms;
}

.footer_container {
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
	align-items: center;
	text-align: center;
	background: #cdcdcd;
	border-radius: 2px;
	width: 60%;
	padding: 5px 3px;
}

.footer_container p {
	font-size: 120%;
	font-family: 'Kanit', sans-serif;
}

.p_ia {
	font-size: 80%;
	font-family: 'Kanit', sans-serif;
	font-weight: 900;
}

.p_music {
	font-size: 80%;
	font-family: 'Kanit', sans-serif;
	font-weight: 900;
}

.p_music a {
	transition: all ease 500ms;
	color: blueviolet;
	font-size: 90%;
}

.p_music a:hover {
	transition: all ease 500ms;
	font-size: 70%;
	color: blue;
}

.footer_container a {
	font-weight: 600;
}

.footer_container img {
	width: 15px;
	margin-right: 10px;
}





















@media (max-width:700px) {
	.header_container {
		flex-direction: column;
	}

   article {
   	    margin-left: auto;
   	    margin-right: auto;
   }

	main h2 {
		font-size: 120%;
		margin-top: 150px;
	}

	nav {
		padding: 0px 70px;
	}

	.footer_container {
		width: 60%;
	}

	.footer_container p {
		font-size: 90%;
	}

	.p_music a {
		font-size: 100%;
	}

	.p_music:hover {
		font-size: 90%;
	}
}

@media (max-width: 510px) {
	.footer_container {
		width: 80%;
	}

	.game:hover {
		transform: translate(0px);
		box-shadow: none;
		transition: none;
	}
}